Apps
Applications
Backup
Backups
Books
Desktop
Documents
Downloads
firestorm
Fonts
go
Lab
Mail
mycroft-core
Nextcloud
Notes
Photos
Pics
Pictures
Remotes
Screenshots
Scripts
Scripts/env/tokens.sh
Scripts/env/tmux*.log
Scripts/file/download-organizer
Scripts/mount
Scripts/note/note-archiver
Scripts/note/note-organizer
Scripts/note/todoist2markdown
Scripts/file/gpg-dir-encrypt
Scripts/env/gpg_keys.sh
Sites
snap
Steam
Templates
Videos
VirtualBox\ VMs
y2
.android
.ansible
.ansible_async
.aws
.audacity-data
.bash_history
.bash_logout
.bash_profile
.bashrc
.cabal
.cache
.cargo
.cmake
.config
.cups
.dbus
.dmrc
.doom.d/secrets.el
.doom.d/custom_system.el
.doom.d/custom.el
.dotfiles
.emacs.d
.espressif
.face
.face.icon
.firestorm_x64
.fltk
.fonts
.fonts.conf
.fzf.*
.gconf
.gdbinit
.ghc
.gnome
.gnupg
.gnuplot_history
.gsutil
.gtk-bookmarks
.hplip
.httpie
.ICEauthority
.icons
.ipython
.java
.joplin
.joplin-bin
.jupyter
.kde4/share/apps
.keras
.kube
.lesshst
.local
.mono
.mozilla
.mycroft
.mysql_history
.node_repl_history
.notmuch-config
.npm
.nv
.nvidia-settings-rc
.oh-my-zsh
.onnx
.openshot_qt
.paradoxlauncher
.picocom_history
.pip
.pki
.profile_mycroft
.pulse-cookie
.putty
.python_history
.rustup
.snap
.sudo_as_admin_successful
.ssh
.ssr/logs
.steam
.steampath
.steampid
.sqlite_history
.texlive2019
.twittering-mode-user-info.gz
.vnc
.vpython-root
.vpython_cipd_cache
.wget-hsts
.x11vnc.log*
.Xauthority
.Xclients
.xinitrc
.yarn
.yarnrc
.zcompdump*
.zhistory
.zshrc.*
/*.backup-*
