Apps
Backups
Books
Desktop
Documents
Downloads
Fonts
Lab
Mail
Nextcloud
Notes
Pictures
Remotes
Screenshots
Sites
Templates
Videos
snap
.android
.aws
.cabal
.cache
.cargo
.config
.cups
.dmrc
.dotfiles
.ghc
.gnupg
.gtk-bookmarks
.ICEauthority
.java
.joplin
.joplin-bin
.lesshst
.mozilla
.node_repl_history
.notmuch-config
.npm
.pki
.snap
.sudo_as_admin_successful
.ssh
.sqlite_history
.texlive2019
.Xauthority
.zcompdump*
