Apps
Backups
Books
Desktop
Documents
Downloads
firestorm
Fonts
Lab
Mail
Nextcloud
Notes
Pictures
Remotes
Screenshots
Sites
Templates
Videos
snap
.android
.ansible
.aws
.cabal
.cache
.cargo
.config
.cups
.dbus
.dmrc
.doom.d/secrets.el
.dotfiles
.firestorm_x64
.gconf
.ghc
.gnupg
.gtk-bookmarks
.httpie
.ICEauthority
.java
.joplin
.joplin-bin
.kube
.lesshst
.local
.mozilla
.node_repl_history
.notmuch-config
.npm
.pki
.rustup
.snap
.sudo_as_admin_successful
.ssh
.ssr/logs
.sqlite_history
.texlive2019
.Xauthority
.zcompdump*
