#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=1Pass G
Exec=/opt/brave.com/brave/brave-browser "--profile-directory=Profile 2" --app-id=okojikgpkihhndkpodcfdmbkngddpkem
Icon=brave-okojikgpkihhndkpodcfdmbkngddpkem-Profile_2
StartupWMClass=crx_okojikgpkihhndkpodcfdmbkngddpkem
OnlyShowIn=Old;
