#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Nextcloud
Exec=/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=anjidaeocdlcfaakdkkdgpkhgghhmmpk
Icon=brave-anjidaeocdlcfaakdkkdgpkhgghhmmpk-Default
StartupWMClass=crx_anjidaeocdlcfaakdkkdgpkhgghhmmpk
OnlyShowIn=Old;
