#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Home Assistant
Exec=/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=ghlgndbfpdofjhomdiibfoinafkkpckl
Icon=brave-ghlgndbfpdofjhomdiibfoinafkkpckl-Default
StartupWMClass=crx_ghlgndbfpdofjhomdiibfoinafkkpckl
OnlyShowIn=Old;
