#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=NASQ
Exec=/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=cbebeajajijifmlhbaklimmcllblogjh
Icon=brave-cbebeajajijifmlhbaklimmcllblogjh-Default
StartupWMClass=crx_cbebeajajijifmlhbaklimmcllblogjh
OnlyShowIn=Old;
