#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=ZeroTier
Exec=/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=afejoedfcdpmmkpdkpafdmoannocpeoo
Icon=brave-afejoedfcdpmmkpdkpafdmoannocpeoo-Default
StartupWMClass=crx_afejoedfcdpmmkpdkpafdmoannocpeoo
OnlyShowIn=Old;
