#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Fing
Exec=/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=olcpkkhdbkfcekhlocbabfbpkgbalmig
Icon=brave-olcpkkhdbkfcekhlocbabfbpkgbalmig-Default
StartupWMClass=crx_olcpkkhdbkfcekhlocbabfbpkgbalmig
OnlyShowIn=Old;
